:root {
  --bs-primary: #3E5F44; /* Replace Bootstrap primary color */
}

.btn-primary {
  background-color: #3E5F44 !important;
  border-color: #3E5F44 !important;
}

.btn-outline-primary {
  color: #3E5F44 !important;
  border-color: #3E5F44 !important;
}

.btn-outline-primary:hover {
  background-color: #3E5F44 !important;
  color: white !important;
}

.progress-bar {
  background-color: #3E5F44 !important;
}

.text-primary {
  color: #3E5F44 !important;
}
.dark-placeholder::placeholder {
  color: #ccc;  /* lighter placeholder for dark mode */
  opacity: 1;   /* ensures visibility in some browsers */
}
.dark-placeholder::placeholder {
  color: #8b949e; /* dark mode placeholder */
  opacity: 1;
}

.light-placeholder::placeholder {
  color: #6c757d; /* light mode placeholder */
  opacity: 1;
}
